* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #1f1f11;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator{
  width: 400px;
  border: 1px solid#333;
  background-color: #ccc;
  padding: 10px;
}

.calculator form{
  display: grid;
  grid-template-columns: repeat(4,65);
  grid-auto-rows: 65px;
  grid-gap: 5px;
}

.calculator form input{
  border: 2px solid #333;
  cursor: pointer;
  font-size: 19px;
}

.calculator form input:hover{
  box-shadow: 1px 1px 2px #333;
}

.calculator form .clear{
  background-color: red;
}

.calculator form .operator{
  background-color: yellow;
}

.calculator form .dot{
  background-color: rgb(155, 155, 243);
}

.calculator form input[type="text"]{
  grid-column: span 4;
  text-align: right;
  padding: 0 10px;
}

.calculator form .clear{
  grid-column: span 3;
}

.calculator form .result{
  grid-column: span 2;
}
